<%= stylesheet_link_tag "recipesuser" %>

<h1>Recipe</h1>
<div class="container">
  <div>
    <h2><%= @recipe.name %></h2>
  </div>

  <div class="details">
    <p>Preparation time: <%= @recipe.preparation_time %> hour/s</p>
    <p>Cooking time: <%= @recipe.cooking_time %> hour/s</p>
    <p><%= @recipe.description %></p>
    <label class="switch">
  <input type="checkbox" <%= @recipe.public? ? 'checked' : '' %>>
  <span class="slider round"></span>
</label>
<span id="visibility-label"><%= @visibility_status %></span>

  </div>

  <div>
    <%= link_to "Generate Shopping List" %>
    <%= link_to "Add Ingredient", new_recipe_ingredient_path(@recipe) %>
    <br>
  </div>
</div>

<div>
<% @ingredients.each do |ingredient| %>
  <div>
    <p><%= ingredient.food_name %>: <%= ingredient.quantity %> (<%= number_to_currency(ingredient.value_in_dollars) %>)</p>
  </div>
<% end %>
