<%= stylesheet_link_tag "recipesuser" %>

<h1>Recipe</h1>
<div class="container">
  <div>
    <h2><%= @recipe.name %></h2>
  </div>

  <div class="details">
    <p>Preparation time: <%= @recipe.preparation_time %> hour/s</p>
    <p>Cooking time: <%= @recipe.cooking_time %> hour/s</p>
    <p><%= @recipe.description %></p>
    <label class="switch">
  <input type="checkbox" <%= @recipe.public? ? 'checked' : '' %>>
  <span class="slider round"></span>
</label>
<span id="visibility-label"><%= @visibility_status %></span>

  </div>

  <div>
    <%= link_to "Generate Shopping List" %>
    <%= link_to "Add Ingredient", new_user_recipe_ingredient_path(@user, @recipe) %>
    <br>
  </div>
</div>

<h2>Ingredients:</h2>
<table>
  <thead>
    <tr>
      <th>Food Name</th>
      <th>Quantity</th>
      <th>Value (in dollars)</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.food_name %></td>
        <td><%= ingredient.quantity %></td>
        <td><%= number_to_currency(ingredient.value_in_dollars) %></td>
        <td>
          <%= link_to 'Edit', edit_user_recipe_ingredient_path(@recipe.user, @recipe, ingredient), class: 'action-button' %>
          <%= button_to 'Remove', user_recipe_ingredient_path(@recipe.user, @recipe, ingredient), method: :delete, data: { confirm: 'Are you sure?' }, class: 'action-button' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
