<!DOCTYPE html>
<html>
  <head>
    <title>Recipeapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render 'layouts/messages'%>
    <% if user_signed_in? %>
      <%= link_to 'My Foods', user_foods_path(current_user) %>
      <%= link_to 'My Recipes', user_recipes_path(current_user) %>
      <%= link_to 'Public Recipes', public_recipes_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
